.Group {
    width: 100%;
    padding: 10px;
    display: block;
    box-sizing: border-box;
    cursor: pointer;

    transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    --o-transition: all 0.2s ease-in;
}

.Group:hover {
    background-color: #eee;
    
    padding-left: 20px;
}