.Comment {
  margin: 4px;
  padding: 10px;
  text-align: start;
  background-color: #ddd;
  display: block;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 18px;
}

h4,
p {
  padding: 0px;
  margin: 0px;
}
