.GroupList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
  height: 100%;
}

.SideDrawerTop {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.List {
  padding: 0;
}
