.PostsList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
  height: 100%;
}

.PostsList h3 {
  background: red;
}

.PostsList button {
  background: blue;
}

.List {
  padding: 0;
}
